
@{
    ViewBag.Title = "AdminOnly";
}

<h2>AdminOnly</h2>

<div>
    @Html.ActionLink("Logout", "Logout")
    @Html.ActionLink("AddImage", "AddImage", "Image", new { Id = ViewBag.AdminUser })

</div>
